* {
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body {
    width: 100%;
}
body {
    background: #000000;
}

h1, h2, h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', 'Arial', sans-serif;
    line-height: 0.7em;
    font-weight: normal;
}

.container-fluid.cover {
    padding: 0;
}
.jumbotron {
    background: #fff;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 14px;
    }
#introPage {
    text-align: center;
}

form.form-inline, .create {
    padding: 50px;
    text-align: center;
}



input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #3c763d;;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #337ab7;
}

.cancelbtn,.signupbtn {
    float: left;
}

.container {
    padding: 16px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}


.modal-content {
    top: 60px;
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 100%;
}


.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
