<div class="page-header">

<h2 id="playerCount"></h2>

<div class="register">
  <input id="username-input" />
  <button type="button" name="button" id="register-user">enter game</button>
</div>

<button type="submit" class="btn btn-default" id="start">Submit</button>
<div class="support-grid"></div>

<div class="band">
    <div class="item-1 card">
            <div class="tumb"></div>
            <article>
              <p class = "card0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </article>
          </a>
    </div>
    <div class="item-2 card">
            <div class="thumb"></div>
            <article>
              <p class = "card1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </article>
    </div>
    <div class="item-3 card">
        <div class="thumb"></div>
        <article>
          <p class = "card2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </article>
    </div>
    <div class="item-4 card">
            <div class="thumb"></div>
            <article>
              <p class = "card3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </article>
    </div>
    <div class="item-5 card ">
          <div class="thumb"></div>
          <article>
            <p class = "card4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </article>
    </div>
    <div class="item-6 card">
          <div class="thumb"></div>
          <article>
            <p class = "card5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
          </article>
    </div>
    <div class="item-7 card">
          <div class="thumb"></div>
          <article>
            <p id="play2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
          </article>
    </div>
  </div>
</div>
